.home-container {
    padding-top: 44px;

    .heading-wrapper {
        text-align: center;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;

        h2 {
            font-size: 48px;
            font-weight: 700;
            line-height: 49px;
            margin-top: 0;
            margin-bottom: 0;
            font-family: Georgia;
        }

        p {
            margin-top: 10px;
            font-family: Georgia;
        }

        .sidebar-actions {
            display: flex;

            .filters {
                border: none;
                border-bottom: 1px solid black;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                outline: none;
                width: 250px;
                cursor: pointer;
            }
        }
    }

    .top-stories-container {
        width: 100%;

        .article-grid {
            grid-gap: 30px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 135px);
            margin-bottom: 30px;

            .article-card {
                display: grid;
                height: 100%;
                position: relative;
                overflow: hidden;
                width: 100%;
                cursor: pointer;

                &.card-1 {
                    grid-area: 1 / 1 / 4 / 3;
                }

                &.card-2 {
                    grid-area: 1 / 3 / 3 / 4;
                }

                &.card-3 {
                    grid-area: 1 / 4 / 3 / 5;
                }

                &.card-4 {
                    grid-area: 3 / 3 / 4 / 4;

                }

                &.card-5 {
                    grid-area: 3 / 4 / 4 / 5;
                }

                .article-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }

                .article-detail-wrapper {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background-color: rgba(9, 53, 123, 0.9);
                    color: white;

                    .article-title {
                        padding: 10px;

                        h2 {
                            font-family: Georgia;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 31px;
                        }

                        p {
                            font-family: Roboto;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            text-align: left;
                        }
                    }

                    &.medium-wrapper {
                        h2 {
                            font-family: Georgia;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 27px;
                            text-align: left;

                        }
                    }


                    &.small-wrapper {
                        position: static;
                        display: flex;
                        background-color: $primaryColor;

                        h2 {
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 27px;
                            text-align: left;

                        }
                    }
                }
            }

            .card-4,
            .card-5 {
                .article-image {
                    display: none;
                }

                .article-detail-wrapper {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    background-color: #09357B;

                    h2 {
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }

        .article-row {
            .article-column {
                .article-card {
                    .lines-2 {
                        h2 {
                            font-size: 20px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            margin-bottom: 8px;
                        }

                        p {
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            margin-bottom: 0;
                        }
                    }
                }

            }
        }

    }


    .sub-heading {
        h3 {
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 39px;
            font-family: Georgia;
        }
    }

    .articles-container {
        .article-card {
            .article-detail-wrapper {
                .article-title {
                    h2 {
                        font-size: 20px !important;
                    }
                }
            }
        }
    }

}

.bookmark-container {
    .article-row {
        margin-bottom: 30px;
    }
}

.search-container {
    .article-row {
        margin-bottom: 30px;
    }
}

.article-search-container {
    .total-news{
        font-size: 14px;
    }
    .search-row {
        display: grid;
        width: 100%;
        grid-template-columns: 23% 23% 23% 23%;
        grid-gap: 34px;

        .search-column {
            // margin-bottom: 30px;

            .search-body {
                label {
                    display: block;
                    font-size: 14px;
                    margin-bottom: 10px;
                    font-weight: 600;
                }

                .date-picker {
                    width: 97%;
                    min-height: 38px;
                    transition: all 100ms;
                    background-color: hsl(0, 0%, 100%);
                    border-color: hsl(0, 0%, 80%);
                    border-radius: 4px;
                    border-style: solid;
                    border-width: 1px;
                    box-sizing: border-box;
                    overflow: hidden;
                    padding: 2px 8px;
                    font-size: 16px;
                }



            }
        }
    }
}