.header {
    // height: 126px;
    background-color: $primaryColor;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-container {
        max-width: 1280px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            height: 100%;
            a{
                color: white;
                text-decoration: none;
                font-family: Georgia;
            }
        }

        .account-container{
            display: flex;
            align-items: center;
            .login-button{
                color: white;
                text-decoration: none;
                margin-right: 10px;

            }
            .dropbtn {
                // background-color: #04AA6D;
                color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                .dropdown-icon{
                    width: 30px;
                    height: auto;
                    fill: white;
                }
              }
              
              .dropdown {
                position: relative;
                display: inline-block;
                &:hover{
                    .dropdown-content {
                        display: block
                    }
                    // .dropbtn {
                    //     background-color: #3e8e41;
                    // }
                }
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    &:hover {
                        background-color: #ddd;
                    }
                  }
              }
        }

        .search-container {
            display: flex;
            align-items: flex-end;
            border-bottom: 2px solid white;
            // width: 90px;
            justify-content: center;
            cursor: pointer;

            .search-input-wrapper {
                position: relative;

                .search-icon {
                    position: absolute;
                    z-index: 100;
                    top: 10px;
                    right: 50px;
                    
                }

                .search-text {
                    
                    border: none;
                    height: 45px;
                    background: #ffffff66;
                    color: white;
                    outline: none;
                    padding: 0 15px;
                    font-size: 15px;
                    visibility: hidden;
                    width: 90px;
                    &.hide{
                        visibility:visible;
                        width: 300px;
                    }

                    &::placeholder {
                        color: white;
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        color: white;
                    }

                    &::-ms-input-placeholder {
                        color: white;
                    }
                }
            }
        }
    }
}

.footer{
    background-color: $primaryColor;
    height: 240px;
}
.content-wrapper {
    max-width: 1280px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
}

.loader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: white;
}


.snack-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #388E3C;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    span{
        padding-left: 5px;
    }
    &.green{
        background-color: #388E3C;
    }
    &.red{
        background-color: #D32F2F;
    }
}
